*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}


img{width: 534px;
    height: 467px;
    margin-top: 30px;
    margin-left: 121px;
   display: inline-block;
 }


    button{
background: #6FBF44;
border-radius:20px;
width: 124px;
height:51px;
margin-left: 42px;
    font-weight: 500 ;
font-size: 15px;
line-height: 24px;
border: none;
color: #ffffff;
}

.link-5{
    font-weight: 500;
    font-size: 18px;
    color: #6FBF44;
    line-height: 27px;
}


p{
color: #4B505A;
 font-weight: 400;
 font-size: 18px;
 line-height: 33px;
width:493px;
height: 92px;
margin-left: 24px;
}
h1{
    color: #161A49;
    ;
    width: 502px;
height: 164px;
font-weight: 700;
font-size: 62px;
line-height: 82px;


}
.texto{display: inline-block;
    margin-left: 100px;
}
.foto{display: inline-block;


}

main{
    margin-top: 100px;
}

a{margin-right:10px;}

@media screen and  (max-width:900px) {

    main{
         display: flex;
         flex-direction: column;
 
     }
           .texto{
               display: flex;
               flex-direction: column;
              height: 60%;
               order: 1;
           } 
 
           .foto{
               display: flex;
               order: 2;
             height: 40%;}
 
 
 .link{display: none;}
 
 header{
     display: flex;
     flex-direction: row-reverse;
 }
 
 img{
     width: 312px;
 height: 288px;
 display: block;
 
 }
 .link-5{
     width: 112px;
 height: 27px;
 
 }
 p{
     width: 304px;
 height: 165px;
 
 
 }
 h1{width: 278px;
     height: 60px;
     margin-bottom: 200px;     
 }
     button{width: 65px;
         height: 30px;
         line-height: 12px;
         font-weight: 200;
         border-radius: 5px;
         
         
         }}