header{
    margin-top: 47px;
    margin-left: 42px;
}


img{width: 534px;
    height: 467px;
    margin-top: 30px;
    margin-left: 121px;
   display: inline-block;
 }


    button{
background: #6FBF44;
border-radius:20px;
width: 124px;
height:51px;
margin-left: 42px;
    font-weight: 500 ;
font-size: 15px;
line-height: 24px;
border: none;
}

.link-5{
    font-weight: 500;
    font-size: 18px;
    color: #6FBF44;
    line-height: 27px;
}


p{
color: #4B505A;
 font-weight: 400;
 font-size: 18px;
 line-height: 33px;
width:493px;
height: 92px;
margin-left: 24px;
}
h1{
    color: #161A49;
    ;
    width: 502px;
height: 164px;
font-weight: 700;
font-size: 62px;
line-height: 82px;


}
.texto{display: inline-block;
    margin-left: 100px;
}
.abc{display: inline-block;
margin-top: 277px;

}

a{margin-right:10px;}